@page "/AdminPedar"

@inject IExpressionCollection dbExpressions
@inject NavigationManager navManager

<h1 class="page-heading text-uppercase mb-4">@LabelResource.AdminHeading</h1>

<div class="row">
    <div class="expression-count col-8 mt-2">@submissions_?.Count @GetSubmissionCountText()</div>
    <div class="col-4 close-button-section">
        <button class="btn" @onclick="ClosePage">🗙</button>
    </div>
</div>

@if (submissions_ is not null)
{
    @foreach (var e in submissions_)
    {
        <div class="row submission">
            <div class="col-lg-2 col-md-3 col-sm-4">
                <button class="btn btn-approve" @onclick="() => ApproveAsync(e)">@LabelResource.ApproveButton</button>
                <button class="btn btn-reject" @onclick="() => RejectAsync(e)">@LabelResource.RejectButton</button>
            </div>
            <div class="col-lg-10 col-md-9 col-sm-8">
                <div>
                    @if (editedExpressionId_ == e.Id && isWordEdited_)
                    {
                        <EditForm class="approval-edit-form" Model="@editedWord_" OnSubmit="() => SaveAsync(e)">
                            <InputText class="form-control approval-edit-field" @bind-Value="editedWord_" />
                            <button class="btn" type="submit">
                                <span class="oi oi-check submission-edit-approve"></span>
                            </button>
                            <button class="btn" type="button" @onclick="Cancel">
                                <span class="oi oi-x submission-edit-reject"></span>
                            </button>
                        </EditForm>
                    }
                    else
                    {
                        @e.Word
                        <span class="oi oi-pencil submission-edit-icon" @onclick="() => EditWord(e)"></span>
                    }
                </div>
                <div>
                    <div>
                        @if (editedExpressionId_ == e.Id && isTranslationEdited_)
                        {
                            <EditForm class="approval-edit-form" Model="@editedTranslation_" OnSubmit="(() => SaveAsync(e))">
                                <InputText class="form-control approval-edit-field" @bind-Value="editedTranslation_" />
                                <button class="btn" type="submit">
                                    <span class="oi oi-check submission-edit-approve"></span>
                                </button>
                                <button class="btn" type="button" @onclick="Cancel">
                                    <span class="oi oi-x submission-edit-reject"></span>
                                </button>
                            </EditForm>
                        }
                        else
                        {
                            @e.Translation
                            <span class="oi oi-pencil submission-edit-icon" @onclick="() => EditTranslation(e)"></span>
                        }
                    </div>
                </div>
                <div>
                    @e.Category.Name
                </div>
            </div>
        </div>
    }
}
