@page "/Create"

@inject ICategoryCollection dbCategories
@inject IExpressionCollection dbExpressions
@inject NavigationManager navManager

<h1 class="page-heading text-uppercase mb-4">@LabelResource.SuggestionHeading</h1>

<div class="create-form create-form-center">
    <div class="col-xl-8 col-lg-10 form-layout">
        <div class="close-button-section">
            <button class="btn" @onclick="ClosePage">🗙</button>
        </div>
        @if (categories_ is not null)
        {
            <EditForm Model="newExpression_" OnValidSubmit="CreateExpression">
                <DataAnnotationsValidator />
                <ValidationSummary />
                <div class="input-section">
                    <label class="form-label input-label text-uppercase" for="expression-text">@LabelResource.Expression</label>
                    <div class="input-description">@LabelResource.SuggestionExpressionDesctiption</div>
                    <InputText class="form-control" id="expression-text" @bind-Value="newExpression_.Word" />
                </div>
                <div class="input-section">
                    <label class="form-label input-label text-uppercase" for="translation">@LabelResource.Translation</label>
                    <div class="input-description">@LabelResource.SuggestionTranslationDesctiption</div>
                    <InputTextArea class="form-control" id="translation" @bind-Value="newExpression_.Translation" />
                </div>
                <div class="input-section">
                    <label class="form-label input-label text-uppercase" for="category">@LabelResource.Category</label>
                    <div class="input-description">@LabelResource.SuggestionCategoryDesctiption</div>
                    <div class="col-lg-8">
                        <CustomInputRadioGroup id="category" @bind-Value="newExpression_.Category">
                            @foreach (var c in categories_)
                                {
                                <div class="radio-item-group">
                                    <InputRadio Value="@c.Id" id="@c.Id" />
                                    <label for="@c.Id">@c.Name</label>
                                </div>
                                }
                        </CustomInputRadioGroup>
                    </div>
                </div>
                <div class="center-children">
                    <button class="btn btn-main btn-lg text-uppercase" type="submit">@LabelResource.SuggestButton</button>
                </div>
            </EditForm>
        }
    </div>
</div>

@code {
    private CreateExpressionModel newExpression_ = new();
    private IList<Category>? categories_;

    protected async override Task OnInitializedAsync()
    {
        categories_ = await dbCategories.GetAllAsync();
    }

    private void ClosePage()
    {
        navManager.NavigateTo("/");
    }

    private async Task CreateExpression()
    {
#nullable disable
        var category = await dbCategories.GetAsync(newExpression_.Category);
        var expression = new Expression(newExpression_.Word, newExpression_.Translation, category);
#nullable restore
        await dbExpressions.Create(expression);

        newExpression_ = new();
        ClosePage();
    }
}
