@page "/Details/{Id}"

@inject IExpressionCollection dbExpressions
@inject NavigationManager navManager

<h1 class="page-heading text-uppercase mb-4">@LabelResource.DetailsHeading</h1>

<div class="row justify-content-center">
    <div class="col-xl-8 col-lg-10 form-layout detail-form-layout">
        <div class="close-button-section">
            <button class="btn" @onclick="ClosePage">🗙</button>
        </div>
        @if (expression_ is not null)
        {
            <div class="row expression-detail-row">
                <div class="expression-detail">
                    <div>
                        <div class="@GetLikeClass()" @onclick="LikeAsync">
                            <div class="text-uppercase">@GetLikeTopText()</div>
                            <span class="oi oi-caret-top expression-detail-like"></span>
                            <div class="text-uppercase">@GetLikeBottomText()</div>
                        </div>
                        <div class="expression-detail-date">
                            <div>@expression_.DateCreated.ToString(ConfigurationExtensions.DateFormat)</div>
                        </div>
                    </div>
                    <div class="expression-detail-text">
                        <div class="mb-2 expression-detail-word">@expression_?.Word</div>
                        <div class="mb-2 d-none d-md-block">@expression_?.Translation</div>
                        <div class="mb-2 expression-entry-text-category d-none d-md-block">@expression_?.Category.Name</div>
                    </div>
                </div>
            </div>
            <div class="row d-block d-md-none">
                <div class="expression-detail-text">
                    <div class="mb-2">@expression_?.Translation</div>
                    <div class="mb-2 expression-entry-text-category">@expression_?.Category.Name</div>
                </div>
            </div>
        }
    </div>
</div>
